version: '3'

services:
  mariadb:
    image: inception_mariadb
    build: ./mariadb
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql

  wordpress1:
    image: inception_wordpress
    build: ./wordpress
    restart: always
    depends_on:
      - mariadb
    env_file:
      - .env
    volumes:
      - wp_data:/var/www/html

  wordpress2:
    image: inception_wordpress
    build: ./wordpress
    restart: always
    depends_on:
      - mariadb
    env_file:
      - .env
    volumes:
      - wp_data:/var/www/html

  loadbalancer:
    image: inception_loadbalancer
    build: ./loadbalancer
    restart: always
    depends_on:
      - wordpress1
      - wordpress2
    ports:
      - 80:80
      - 443:443   
    volumes:
      - wp_data:/var/www/html

volumes:
  wp_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: {{ wp_dir }}
  db_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: {{ db_dir }}
