worker_processes auto;

error_log /var/log/nginx/error.log warn;

include /etc/nginx/modules/*.conf;

events {
	worker_connections 1024;
}

http {
	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	client_max_body_size 10m;

	ssl_protocols TLSv1.2 TLSv1.3;

	# Specifies the main log format.
	log_format main '$remote_addr - $remote_user [$time_local] "$request" '
			'$status $body_bytes_sent "$http_referer" '
			'"$http_user_agent" "$http_x_forwarded_for"';

	# Sets the path, format, and configuration for a buffered log write.
	access_log /var/log/nginx/access.log main;
	
	server {
		listen 80;
		server_name knowledge-archive.xyz www.knowledge-archive.xyz;

		location /.well-known/acme-challenge/ {
				root /var/www/html;
		}

		location / {
				return 301 https://$host$request_uri;
		}	
	}

	server {
		listen 443 ssl;
    server_name knowledge-archive.xyz www.knowledge-archive.xyz;
	

		ssl_certificate /etc/nginx/ssl/fullchain.pem;
		ssl_certificate_key /etc/nginx/ssl/privkey.pem;
		ssl_protocols TLSv1.2 TLSv1.3;
		ssl_prefer_server_ciphers on;
		ssl_ciphers "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384";

		root /var/www/html/wordpress;
		index index.php index.html index.htm;

		location / {
			try_files $uri $uri/ =404;
		}
		location /.well-known/acme-challenge/ {
				root /var/www/html;
		}
		location ~ \.php$ {
			fastcgi_split_path_info ^(.+.php)(/.+)$;
			fastcgi_pass php:9000;	
			fastcgi_index index.php;
			include fastcgi_params;
			fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
			fastcgi_param SCRIPT_NAME $fastcgi_script_name;
		}
	}
}